catboost
certifi
click
colorama
cycler
Flask
Flask-Cors
fonttools
graphviz
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
lightgbm
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
simple-server
six
sklearn
tenacity
threadpoolctl
typing_extensions
Werkzeug
wincertstore
xgboost
zipp
pytest
